/* RTL support for Hebrew */
body {
	direction: rtl;
	text-align: right;
}

/* Keep buttons and icons LTR */
button, .btn {
	direction: ltr;
}

#everythingWrapper {
	width: 100vw;
	height: calc(100vh - 56px);
}

#everythingWrapper > div {
	border: 1px solid lightgray;
	padding: 15px;
}
